body{		
}
#principal{
}

header{
	position:relative;
	z-index:10;
	width:100%;
	height:50px;
	background:url(../img/circulo.png) no-repeat;
	background-position: /*20px 0px,*/ 14px -33px;
	background-size:/* 170px*/120px;
	background-color:black;	
	
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	-ms-box-shadow: 0px 0px 10px black;	
}

header img{
	width:110px;
	margin-left:20px;
	
}
#menuCool{
	z-index:20;
	position:relative;	
	width:100%;
	height:50px;
	left:0%;
	top:0px;
	cursor:pointer;
	
	background: url(../img/flechas.png) 50% 40% no-repeat,rgba(255,255,255,0.8);
	background-size:40px;
		
	border-radius: 0vw 0vw 0vw 0vw;
	-webkit-border-radius:0vw 0vw 0vw 0vw;
	-moz-border-radius:0vw 0vw 0vw 0vw;
	-o-border-radius:0vw 0vw 0vw 0vw; 
	-ms-border-radius:0vw 0vw 0vw 0vw;	
}

#menu{
	z-index:8;
	width:100%;
	height:0px;	
	overflow: hidden;
	background-color:white;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
#botonMenu{
background:url(../img/menu.png) no-repeat;
	background-position: 8px 9px;
	background-size: 30px;
	background-color:black;	
	
	width:45px;
	height:45px;
	float:right;
	margin-right:20px;
	margin-top:2px;
	background-color:white;
	
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}

#menu nav{
	width:100%;
	height:0px;/*OJO*/
	
}
#menu nav ul{
	
}
#menu nav ul li{
	list-style:none;
	text-align:center;
	padding-top:3%;
	padding-bottom:1%;
	
	border-bottom:solid rgba(0,0,0,0.2);
	border-width:medium;
	
}
#menu nav ul li a{
	font-size:1.5rem;
	color:rgba(0,0,0,0.8);
	text-align:center;
	text-decoration:none;	
}

/*PORTADA - NOTICIAS IMPORTANTES*/

#portada{
	position:relative;
	z-indez:9;
	width:100%;
	height:50vw;/*OJOJOJOJO*/
	overflow:hidden;
	
	background-color:rgba(255,255,255,0.9);
	
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	-ms-box-shadow: 0px 0px 10px black;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
.recientes1,.recientes2{
	position:absolute;
	width:100%;
	height:100%;
	left:-100%;/*OJOJOJOJO*/
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
.recientes1 img,.recientes2 img{
	width:100%;
	height:100%;
}

.recientes1 h2,.recientes2 h2{
	position:absolute;
	bottom:0vw;
	width:100%;
	color:white;
	font-size:1.3rem;
	padding:5px 0px;
	
	background-color:rgba(0,0,0,0.8);
	
}
.recientes1 p,.recientes2 p{
	display:none;
}

/*PUBLICIDAD*/
#banner{
	display:none;	
}

/*SECCION NOTIICAS*/

#noticias{
	width:94%;
	margin-left:3%;
	padding-top:40px;
	padding-bottom:30px;
	background-color:white;
	
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	-ms-box-shadow: 0px 0px 10px black;
	
	position:relative;
		
}
#noticias article{
	width:100%;/*
	margin-left:2%;*/
	border-bottom:2px solid rgba(0,0,0,0.7);
	border-bottom-width:medium;
	margin-bottom:40px;
	position:relative;
	padding-bottom:80px;
}

#noticias article h3{
	text-align:justify;
	font-size:1.2rem;
	color:rgba(0,0,0,0.8);
	margin-bottom:1%;	
	padding-left:5px;
	padding-right:5px;
}

#noticias article img{
	width:100%;
	height:40vw;/*OJOJOJO*/
}
#noticias article p{
	text-align:justify;
	font-size:1rem;
	color:rgba(0,0,0,0.8);
	width:96%;
	height:75px;
	margin: 0px auto;
	overflow:hidden;
	padding-top:2%;
	
	white-space: normal;
	text-overflow: ellipsis;
}

#noticias article a{
	width:100px;
	text-align:center;
	text-decoration:none;
	font-size: 1rem;/*OJO*/
	color:rgba(255,255,255,1);
	position:absolute;
	bottom:20px;
	left:5%;
	padding: 10px;
	background-color:rgba(180,180,180,0.8);
}

.boton{
	text-align:center;
	font-size:1rem;
	color:white;
	width:100px;
	padding:10px;
	margin-left:64vw;
	
	position:absolute;
	bottom:20px;
	right:5%;
	
	background-color:rgba(255,0,0,0.7);
}

/*SECCION APARTADO - NOTICIAS SECUNDARIAS*/
#apartado{
	display:none;	
}

/*FOOTER*/

footer{
	position:relative;
	width:100%;
	height:30px;
	padding-top:10px;
	text-align:center;
	font-size:0.8rem;
	color:white;
	
	background-color:black;
	
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	-ms-box-shadow: 0px 0px 10px black;
	
}

#shown1{
	width: 100%;
	height:0px;
	z-index:9;
	position:fixed;
	top:100px;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}

#shown2{
	position:relative;
	width: 100%;
	height:0vw;
	background-color:white;
	z-index:50;
	overflow:auto;
	
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
#shown2 h3, #shown2 h2{
	text-align:center;
	width:100%;
	padding-top:2%;
	font-size: 1.4rem;
	color:rgba(0,0,0,0.7);
	border-bottom:2px solid rgba(255,100,0,0.8);
}

#shown2 img{
	margin: 3% 0px 2% 15%;
	width: 70%;
	box-shadow: 0px 0px 2px black;
	border-radius: 10px 10px 10px 10px;
}

#shown2 p{
	text-align:justify;
	color:rgba(0,0,0,0.6);
	text-shadow:0.1px 0.1px 0.1px rgba(0,0,0,0.6);
	font-size: 1rem;
	margin: 2% 3.2% 10% 3.2%;
}

#botonr{
	position:relative;
	bottom:0px;
	margin:0px auto;
	margin-bottom:8%;
	font-size: 1rem;
	width:100px;
	padding: 10px;
	text-align:center;
	background-color:rgba(255,100,0,0.8);
	color:white;
	transition: box-shadow 0.2s, background 0.2s,font-size 0.2s;
	-webkit-transition: width 0.2s, height 0.2s;
	-moz-transition: -moz-box-shadow 0.2s, background 0.2s, font-size 0.2s;
	-o-transition: -o-box-shadow 0.3s, background 0.3s, font-size 0.3s;
}