@import "nib"
@import "iconmoon.styl"
@import "nouvelles.styl"

*
	margin 0px
	padding 0px
html
	overflow hidden
	width 100%
	height 100%
	background-color black
body
	height 100%
	width 100%
	position relative //antes fixed
	overflow hidden
	.body-view
		height 100%
		width 100%
		position absolute
		overflow auto
		overflow-x hidden
		z-index 1
	.sectionLeftAnim.ng-enter
	.sectionLeftAnim.ng-leave
		transition all 0.5s cubic-bezier(1,1,0,0)
	.sectionLeftAnim.ng-enter
			left 100%
			z-index 2			
	.sectionLeftAnim.ng-enter-active
			left 0%
			z-index 2
	.sectionLeftAnim.ng-leave
			left 0%
			z-index 1
	.sectionLeftAnim.ng-leave-active
			left 0%
			z-index 1

	.sectionRightAnim.ng-enter
	.sectionRightAnim.ng-leave
		transition all 0.5s cubic-bezier(1,1,0,0)
	.sectionRightAnim.ng-enter
			left 0%
			z-index 1			
	.sectionRightAnim.ng-enter-active
			left 0%
			z-index 1
	.sectionRightAnim.ng-leave
			left 0%
			z-index 2
	.sectionRightAnim.ng-leave-active
			left 100%
			z-index 2

	.newsOutAnim.ng-enter
	.newsOutAnim.ng-leave
		transition all 0.5s cubic-bezier(1,1,0,0)
	.newsOutAnim.ng-enter
			z-index 1			
	.newsOutAnim.ng-enter-active
			z-index 1
	.newsOutAnim.ng-leave
			top 0%
			z-index 2
	.newsOutAnim.ng-leave-active
			top 100%
			z-index 2

	.newsInAnim.ng-enter
	.newsInAnim.ng-leave
		transition all 0.5s cubic-bezier(1,1,0,0)
	.newsInAnim.ng-enter
			top 100%
			z-index 2			
	.newsInAnim.ng-enter-active
			top 0%
			z-index 2
	.newsInAnim.ng-leave
			top 0
			z-index 1
	.newsInAnim.ng-leave-active
			top 0
			z-index 1
a
	text-decoration none
	color black
li 
	list-style none

.coolBody 
	font-family Montserrat, helvetica
	font-size 16px
	height 100%
	margin 0px
	overflow auto
	padding 0px
	width 100%
	figure
		margin 0px
	ul
		padding 0px
	.coolHdr
		z-index 10
		#logo
			cursor pointer
			z-index 10
	nav
		position fixed
		text-align center
		z-index 9
		ul
			font-size 0px
			text-align center
			li
				color black
				cursor pointer
				font-size 1rem
		.menuActive
			top 0
	.inline-pos
		display inline-block
	.block-pos
		display block
	.absolute
		position absolute
	.relative
		position relative
	.gradient-a
		height 75%
		position absolute
		top 0
		width 100%
	.gradient-b
		height 25%
		position absolute
		bottom 0
		width 100%
	a
		font-weight bold

	.main-container
		position relative
		height 100%
		width 100%
		overflow hidden

	.intro
		z-index 1
		.gradient-a
			background linear-gradient(#c00 0%, #c00 70%, #900 100%)
		.gradient-b
			background linear-gradient(9deg,#c00 0%, #c00 45%, #400 90%)
		.nous-sommes
			background-color white
			text-align right
			&:after
				content ''
				position absolute
				top 0%
			span
				color #e54c23
				cursor default
				font-weight bold
				margin 0px 6px 0px 0px
		.nous-anim
			animation-duration 8s
			animation-iteration-count infinite
			bottom 19%
			color white
			cursor default
			font-weight bold
			left -1000px
			margin 0px 0px 0px 8%
			position absolute
		.famille
			animation-name famille
		.novelle
			animation-name novelle
		.musique
			animation-name musique
		#play-img
			z-index 2
			img
				position absolute
				transition margin-left 1s ease-out
				width 100%
			/*#circle1
				z-index 2
			#circle2
				z-index 3
			#circle3
				z-index 4*/
			#play-cont
				z-index 5
				#circle4
					position relative
					bottom 0px
					width 100%
				#play1
					animation playing 6s
					animation-delay 4s
					animation-play-state running
					background url(../img/Cool-web-play-Blanco2.png) no-repeat
					background-size 100% 100%
					left 34%
					top 30%
					position absolute
					transition all 0.3s
					width 40%
					height 40%
					z-index 5
					cursor pointer
					&:hover
						background url(../img/Cool-web-play-Mamei3.png) no-repeat
						background-size 100% 100%
	.program
		z-index 2
		.gradient-a
			background linear-gradient(#1a1d5e 0%, #1a1d5e 10%, #1d3ee0 100%)
		.gradient-b
			background linear-gradient(-6deg,#1d3ee0 0%, #1d3ee0 45%, #1a1d5e 90%)
		#current-schedule
			height 60%
			top 18%
			.schedule
				border 2px solid transparent
				background-color white
				box-shadow 0px 0px 10px black
				color black
				height 17.5%
				margin 2.5% 1%
				width 98%
				display table
				cursor pointer
				span
					display table-cell					
					vertical-align middle
					font-weight bold
					overflow hidden
					position relative
					text-align center
				.hour
					box-shadow 10px 0px 5px -7px #aaa					
					width 40%
				.program-name
					width 60%
			.program-active
				border 2px solid red
				box-shadow 0px 0px 10px red
	.broadcasters
		z-index 3
		display table
		.gradient-a
			background linear-gradient(#0d3c06 0%, #0d3c06 10%, #1f8f0f 100%)
		.gradient-b
			background linear-gradient(-6deg,#1f8f0f 0%, #1f8f0f 45%, #0d3c06 90%)
		.scroll-item
			z-index 1
			text-align center
			color rgba(255,255,255,0.8)
			position absolute
			cursor pointer
			background-color transparent
			transition background-color 0.2s
			&:hover
				background-color rgba(0,0,0,0.8)
		.left-scroll
			left 0%
			border-radius 0% 50% 50% 0%
		.right-scroll
			right 0%
			border-radius 50% 0% 0% 50%

		#broadcaster-show
			display table-cell
			vertical-align middle
			max-width 100px
			font-size 0
			.container
				position relative
				width 25%
				margin 0px 0px 0px 0%
				ul
					position relative
					//text-align left
					width 100%
					transition left 0.5s ease-out
					li
						position relative
						.cover_narrator
							background-color white
							border-radius 50%
							box-shadow 10px 10px 10px black
							transition background-color 0.5s ease-out
							.narrator
								border-radius 50%
								overflow hidden
								box-shadow 10px 10px 10px black inset
								img
									visibility hidden
									width 100%
						.casterActive
							background-color yellow
		#broadcaster-info
			color white
			left 5%
			width 90%
			height 25%
			position absolute
			bottom 0px
			span
				display block
			.narrator-name
				position absolute
				bottom 100%
			.narrator-info
				padding-top 10px
				text-align justify

	.contact
		z-index 4
		.gradient-a
			background linear-gradient(#6c6c6c 0%, #6c6c6c 10%, #d7d7d7 100%)
		.gradient-b
			background linear-gradient(-6deg,#d7d7d7 0%, #d7d7d7 45%, #6c6c6c 90%)
		#map
			background linear-gradient(15deg,#222 0%,#000 40%)
			border 2px solid black
			color black
			font-size 1.2rem
			left 4%
			text-shadow 0px 0px 10px white
			object
				height 97%
				margin 1%
				width 98%
		form
			p
				padding 1%
			input
				font-size inherit
				&[type=submit]
					background-color black
					border 1px solid #222
					border-radius 3px
					color white
					float right
					margin 1%
					padding 10px 0px
					width 100px
					cursor pointer
				&:not([type=submit])
					border 1px solid #ccc
					border-radius 3px
					height 6%
					min-height 25px
					margin 10px 0px
					padding 1.5%
					width 95%
			textarea
				font-size inherit
				font-family inherit
				border 1px solid #ccc
				border-radius 3px
				height 45%
				min-height 100px
				margin-bottom 10px
				padding 1.5%
				resize none
				width 95%
	#news
		background-color black
		bottom 0px
		left 0
		box-shadow 0px 0px 10px black
		height 30px
		position fixed
		transition height 0.5s
		width 100%
		z-index 20
		#botonNews
			background linear-gradient(to bottom, rgb(100,100,100) 0%, rgb(14,14,14) 61%)
			border-radius 150px 150px 0px 0px
			bottom 40px
			box-shadow 0px 0px 10px black
			cursor pointer
			height 150px
			margin 0 auto
			position relative
			transition height 0.5s
			width 200px
			p
				color white
				position relative
				margin auto
				bottom -30px
				text-align center
			#noticias
				position absolute
				z-index 21
				bottom 0px
				left 0px
				width 100%
				height 0px
				transition all 0.5s
		object
			width 100%
			height 0%
			position absolute
			bottom 0
			left 0
			transition height 0.5s

@media only screen and (min-device-width 800px) and (min-device-height 768px)
	.coolBody 
		.coolHdr
			#logo
				left 0
				margin 0 0 0 5%
				position fixed
				text-align center
				width 250px
				#cool-logo-bg
					left 0px
					position absolute
					top 0px
					width 100%
				#cool-logo
					position relative
					width 75%
			#botonHdr
				display none
		nav
			background-color rgba(255,255,255,0.94)
			border-radius 0px 0px 40px 40px
			box-shadow 0px 0px 15px rgba(0,0,0,0.7)
			right 2%
			top 0px
			width 640px
			ul
				li
					display inline-block
					padding 20px 4%
					&:first-child
						padding-left 0px
					&:last-child
						padding-right 0px
					&:hover 
						background-color transparent
						a
							color red
					a
						padding 20px 0px
						color black	

		.intro
			.nous-sommes
				height 36px
				position absolute
				top 40%
				width 40%
				&:after
					border-right 30px solid transparent
					border-top 36px solid white
				span
					font-size 2.5rem
			.nous-anim
				font-size 7rem
			#escuchanos
					display none
			#play-img
				position absolute
				height 60%
				left 45%
				top 15%
				width 50%
				#listen
					animation escuchar 6s
					animation-delay 4s
					background-color white
					bottom -45px
					box-shadow 0px 0px 2px black
					font-size 1.8rem
					font-weight bold
					left 38%
					padding-top 5px
					position absolute
					text-align center
					transform-origin top
					transition all 0.5s
					visibility hidden
					width 240px
					&:after
						border-bottom 15px solid white
						border-left 9px solid transparent
						border-right 9px solid transparent
						content ''
						height 25px
						left 110px
						position absolute
						top -40px
				img
					position absolute
					transition margin-left 1s ease-out
					width 100%
				/*#circle1
					z-index 2
				#circle2
					z-index 3
				#circle3
					z-index 4*/
				#play-cont
					bottom 0
					left 33%
					position absolute
					width 45%

		.program
			#deco-1
				background url("../img/DecoRED.png") no-repeat
				height 10%
				top 40%
				width 50%
				background-size: 100%
			#deco-2
				height 8%	
				width 38%
				background-size 100%
				right 0px
				top 82%
				background url("../img/DecoGreen.png") no-repeat
			#playing-now
				background linear-gradient(15deg,#eee 0%,#fff 40%)
				height 40%
				left 4%
				margin 0px
				position absolute
				top 25%
				width 40%
				div
					&:first-child
						background url(../img/05.jpg) 0% 0% no-repeat
						background-size 100% 100%
						height 96.5%
						margin 1%
						width 98%
				p
					color white
					font-family Montserrat,arial
					margin 2% 0px 0px 0px
					&:first-child
						font-size 40px
				img
					left 118%
					position absolute
					top 36%
					width 20%
			#current-schedule
				position absolute
				right 10%
				width 30%
				.schedule
					span
						font-size 1.2rem
			#share-section
				color white
				height 8%
				left 4%
				position absolute
				top 85%
				width 40%
				.share-style
					height 100%
					width 45%
					cursor pointer				
					span
						position absolute
						top 40%
				#facebook-share
					background-color rgb(63,84,186)
					box-shadow 0px 0px 1px white
					float left
				#twitter-share
					background-color rgb(0,200,250)
					box-shadow 0px 0px 1px white
					float right
					img
						margin 2% 0 0 3%
				img
					height 80%
					margin 2% 0 0 2%
		.broadcasters
			.scroll-item
				line-height 150px
				font-size 2rem
				top 40%
				width 4%
				height 150px

			#broadcaster-show
				width 100%
				.container
					ul
						li
							width 20%
							padding 20px 2.5%
							.cover_narrator
								padding 10px
			#broadcaster-info
				span
					font-size 1rem
				.narrator-name
					line-height 60%
					font-size 4rem
				.narrator-info
					width 45%

		.contact
			#map
				height 51%
				position absolute
				top 25%
				width 40%
			form
				left 60%
				position absolute
				top 125px
				width 25%
				height 45%
				p
					color black
					font-size 3.5rem
					margin 0
					margin-left -20px
			#deco-3
				background url(../img/DecoRED2.png) no-repeat
				background-size 100%
				height 8%
				position absolute
				right 0
				top 80%
				width 40%
				span
					color white
					font-size 1.5rem
					left 4%
					position absolute
					top 25%
		#news
			#botonNews
				p
					font-size 1.8rem	
@media only screen and (max-device-width 1024px),only screen and (max-device-width 1366px) and (max-device-height 767px) 
	.coolBody
		.coolHdr
			position absolute
			width 100%
			right 0
			height 70px
			box-shadow 0px 0px 10px rgba(0,0,0,0.7)
			background rgb(242,245,246)
			background linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0)),linear-gradient(135deg, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%)
			#logo
				position fixed
				z-index 10
				height 70px
				width auto
				top 0
				margin 0
				left 20px
				#cool-logo
					width auto
					height 100%
				#cool-logo-bg
					display none
			#botonHdr
				display block
				width 60px
				height 60px
				border-radius 50%
				top 5px
				right 20px
				position absolute
				z-index 40
				background url(../img/menu.png) 12.5px 12.5px no-repeat
				background-size 35px 35px
				background-color white
				cursor pointer

		nav
			background-color transparent
			box-shadow initial
			width 100%
			height 0px
			border-radius 0
			right 0
			top 70px		
			ul
				position absolute
				top -400px
				width 100%
				overflow hidden
				transition top 0.5s ease-out
				background-color rgba(255,255,255,0.98)
				box-shadow 0px 0px 10px black
				li 
					padding 10px 0
					display block
					border-bottom 2px solid rgba(0,0,0,0.3)
					&:last-child
						border-bottom 0
					&:hover
						background-color gray
					a
						font-weight normal
						padding 10px 0
		
		.intro
			#play-img
				height auto
				left 30%
				margin-top 90px
				position relative
				top 0
				width 40%
				img 
					display none	
				#play-cont
					position relative
					width 100%
					left initial
					bottom initial
					img
						display block
					#play1
						animation-play-state paused
				#listen
					display none
			#escuchanos
				display block
				position relative
				overflow hidden 
				margin 0 auto
				margin-top 10px	
				text-align center
				width 80%	
				span
					color white
					font-size 1rem
				div
					background-color rgba(255,255,255,0.5)
					font-size 0
					padding 10px
					width auto
					a
						img
							width 25.33333333333333%
							padding 0px 4% 
							display inline-block
			.nous-sommes
				margin-top 25px
				position relative
				width 40%
				top initial
				height initial
				&:after
					border-right 22px solid transparent
					border-top 28px solid white

				span
					font-size 1.5rem
					
			.nous-anim
				font-size 4rem
				width 99%
				margin-left 0.5%
				text-align center
		.program
			#deco-1
			#deco-2
			#playing-now
			#share-section
				display none
			#current-schedule
				width 90%
				position relative
				right initial
				margin 0 auto
		.broadcasters
			.scroll-item
				line-height 150px
				font-size 2rem
				top 40%
				width 10%
				height 150px

			#broadcaster-show
				top 20%
				width 100%
				.container
					width 100%
					ul
						li
							width 50%
							padding 20px 25%
							.cover_narrator
								padding 10px
			#broadcaster-info
				span
					font-size 1rem
					display block
				.narrator-name
					line-height 60%
					font-size 2.5rem
				.narrator-info
					width 100%

		.contact
			form
				overflow hidden
				position relative
				top initial
				margin-top 80px
				width 90%
				height auto
				left 5%
				p
					color white
					font-size 2.5rem
					margin 0
			#map
				position relative
				width 90%
				top 0
				bottom 50px
				height 20%
				margin 0% 1%
				figcaption
					display none
			#deco-3
				display none
	@media only screen and (orientation : landscape)
		.coolBody
			.coolHdr
				height 45px
				#logo
					height 45px
				#botonHdr
					width 40px
					height 40px
					top 2px
					background-position 10.7px 11px
					background-size 20px
			nav
				top 45px
			.main-container
				display table			
			.intro
				#play-img
					margin-top 65px
					width 20%
					left 40%
				#escuchanos
					width 50%
					span
						font-size 2rem
				.nous-sommes
					display none
						
				.nous-anim
					display none
			.program				
				#current-schedule
					display table-cell
					vertical-align middle
					width 100%
					position relative
					right initial
					top 0
					.schedule
						height 12.5%
						margin 0.8% 1%
						span
							font-size 1rem
							padding 2px 0px

			.broadcasters
				.scroll-item
					line-height 150px
					font-size 2rem
					top 40%
					width 4%
					height 150px

				#broadcaster-show
					.container
						ul
							li
								.cover_narrator
									padding 5px
				#broadcaster-info
					span
						font-size 1rem
					.narrator-name
							font-size 2rem
							line-height 40%
					.narrator-info
						width 100%
			.contact
				form
					display table-cell
					vertical-align middle
					width 100%
					margin initial
					top initial
					left 0
					padding 5px
					p
						font-size 1.5rem
					input
						font-size 1.3rem
						&[type=submit]
							padding 10px 0px
						&:not([type=submit])
							display inline-block
							width 47%
							margin 0px 1% 5px 1%
							padding 1% 0
					textarea
						font-size 1.2rem
						margin-bottom 0px
						min-height initial
						height 15%
						width 98%
						padding 0
						margin-left 1%
				#map
					display none 
			#news
				#botonNews
					bottom 10px
					p
						font-size 1rem
						bottom -15px

@media only screen and (max-device-width 624px)
	.coolBody
		.coolHdr
			height 45px
			#logo
				height 45px
			#botonHdr
				width 40px
				height 40px
				top 2px
				background-position 10.7px 11px
				background-size 20px
		nav
			top 45px
		.intro
			#play-img
				margin-top 55px
				width 30%
				left 35%
				#play-cont
					bottom 45%
			#escuchanos
				width 80%
			.nous-sommes
				width 50%
				&:after
					border-right 18px solid transparent
					border-top 24px solid white
				span
					font-size 1.25rem
					
			.nous-anim
				font-size 2.5rem
		.broadcasters
			/*.scroll-item
				line-height 150px
				font-size 2rem
				top 40%
				width 10%
				height 150px*/
			#broadcaster-show
				top 20%
				width 100%
				.container
					width 100%
					ul
						li
							/*//position relative
							//left 35%
							width 50%
							padding 20px 25%*/
							.cover_narrator
								padding 5px
			#broadcaster-info
				span
					font-size 1rem
				.narrator-name
						font-size 1.5rem
						line-height 40%
				.narrator-info
					width 100%
		.contact
			form
				margin-top 50px
				top 0
				height auto
				overflow hidden
				p
					font-size 1.5rem
				input
					font-size 1rem
					&[type=submit]
						padding 10px 0px
					&:not([type=submit])
						width 97%
						margin 5px 0px
						padding 2px
				textarea
					font-size 1rem
					margin-bottom 0px
					min-height 50px
					height 20%
			#map
				border 0
				padding 0
				position relative
				top 0
				bottom initial
				width 90% 
		#news
			#botonNews
				bottom 20px
				p
					font-size 1.2rem
					bottom -20px		
	@media only screen and (orientation : landscape)
		.coolBody
			nav
				ul
					li
						padding 5px 0px
			.intro
				#play-img
					display none
				#escuchanos
					display table-cell
					vertical-align middle
					margin-top 55px
					width 100%
					div
						width 50%
						margin 0 auto
				.nous-sommes
					display none
						
				.nous-anim
					display none
			.program				
				#current-schedule
					.schedule
						height auto
						margin 0.8% 1%
						span
							font-size 1rem
							padding 2px 0px

			.broadcasters
				.scroll-item
					width 4%
				#broadcaster-info
					span
						font-size 1rem
					.narrator-name
							bottom initial
					.narrator-info
						display none
			.contact
				form
					display table-cell
					vertical-align middle
					width 100%
					margin initial
					top initial
					left 0
					padding 5px
					input
						&[type=submit]
							padding 5px 0px
						&:not([type=submit])
							display inline-block
							width 47%
							margin 0px 1% 5px 1%
							padding 0%
					textarea
						min-height initial
						height 15%
						width 98%
						padding 0
						margin-left 1%
				#map
					display none 
			#news
				#botonNews
					bottom 10px
					p
						font-size 1rem
						bottom -15px
					
.coolBody
	.left
		left 0px
/*@keyframes previousAnimation
	0%
		left 0px
	100%
		left -1000px
@keyframes nextAnimation
	1%
		left 0px
	33%
		left 0px
	35%
		left -1000px
	99%
		left -1000px*/

@keyframes famille
	1%
		left 0px
	33%
		left 0px
	35%
		left -1000px
	99%
		left -1000px

@keyframes musique
	0%
		left -1000px
	33%
		left -1000px
	35%
		left 0px
	65%
		left 0px
	67%
		left -1000px
	100%
		left -1000px

@keyframes novelle
	0%
		left -1000px
	65%
		left -1000px
	67%
		left 0px
	99%
		left 0px

@keyframes escuchar
	0%
		transform: scale(0.5,0.5)
		visibility visible
	10%
		transform scale(1.1,1.1)
		visibility visible
	20%
		transform scale(0.9,0.9)
		visibility visible
	30%
		transform scale(1.1,1.1)
		visibility visible
	 40%
		transform scale(0.9,0.9)
		visibility visible
	50%
		transform scale(1.1,1.1)
		visibility visible
	60%
		transform scale(0.9,0.9)
		visibility visible
	70%
		transform scale(1.1,1.1)
		visibility visible
	80%
		transform scale(0.9,0.9)
		visibility visible
	90%
		transform scale(1.1,1.1)
		visibility visible
	100%
		transform scale(0,0)
		visibility hidden

@keyframes playing 
	0%
		transform scale(1,1)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
	10%
		transform scale(1.1,1.1)
		background url("../img/Cool-web-Play-Mamei3.png") 0px 0px  no-repeat
		background-size: 100% 100%
	20%
		transform scale(0.9,0.9)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
	30%
		transform scale(1.1,1.1)
		background url("../img/Cool-web-Play-Mamei3.png") 0px 0px  no-repeat
		background-size 100% 100%
	40%
		transform scale(0.9,0.9)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
	50%
		transform scale(1.1,1.1)
		background url("../img/Cool-web-Play-Mamei3.png") 0px 0px  no-repeat
		background-size 100% 100%
	60%
		transform scale(0.9,0.9)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
	70%
		transform scale(1.1,1.1)
		background url("../img/Cool-web-Play-Mamei3.png") 0px 0px  no-repeat
		background-size 100% 100%
	80%
		transform scale(0.9,0.9)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
	90%
		transform scale(1.1,1.1)
		background url("../img/Cool-web-Play-Mamei3.png") 0px 0px  no-repeat
		background-size 100% 100%
	100%
		transform scale(1,1)
		background url("../img/Cool-web-Play-Blanco2.png") 0px 0px  no-repeat
		background-size 100% 100%
