@import url("http://fonts.googleapis.com/css?family=Montserrat");
.activo.ng-enter,
.activo.ng-leave {
  transition: all 0.5s;
}
.activo .ng-enter {
  opacity: 0;
}
.activo .ng-enter-active {
  opacity: 1;
}
.activo .ng-leave {
  opacity: 0;
}
.activo .ng-leave-active {
  opacity: 1;
}
/**
	margin 0
	padding 0
a
	text-decoration none
	margin 0px
	padding 0px

li
	list-style none
a
	text-decoration none
html
	background-color black*/
.newsBody {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #ff7400;
  background: linear-gradient(to bottom, #ff7400 0%, #fc4b00 100%);
}
.newsBody h1,
.newsBody h2,
.newsBody h3,
.newsBody h4,
.newsBody h5,
.newsBody h6 {
  font-family: 'Montserrat', sans-serif;
}
.newsBody .header-cont {
  z-index: 3;
  box-shadow: 0px 0px 10px #000;
  background-color: #000;
  height: 42px;
  position: relative;
  width: 100%;
  text-align: center;
}
.newsBody .header-cont .newsHdr {
  width: 1024px;
  height: 100%;
  display: inline-block;
  text-align: left;
}
.newsBody .header-cont .newsHdr img {
  height: 100%;
  margin-left: 70px;
}
.newsBody .header-cont .newsHdr img:last-child {
  display: none;
}
.newsBody .header-cont .newsHdr a .menuCool {
  position: absolute;
  height: 75px;
  width: 150px;
  background: url("../img/flechas.png") 50% 25% no-repeat;
  background-size: 50%;
  background-color: rgba(255,255,255,0.8);
  left: 437px;
  top: 0;
  cursor: pointer;
  border-radius: 0% 0% 75% 75%;
  transform: scale(0.5, 0.5);
  transform-origin: top;
  animation: menuanimate 3s;
  animation-delay: 5s;
}
.newsBody .header-cont .newsHdr .botonMenu {
  display: none;
}
.newsBody .menu {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 42px;
  z-index: 4;
}
.newsBody .menu nav {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  text-align: right;
  font-size: 0;
}
.newsBody .menu nav ul {
  height: 42px;
  position: relative;
  bottom: 42px;
  display: inline-block;
  text-align: right;
}
.newsBody .menu nav ul li {
  vertical-align: middle;
  display: inline-block;
  line-height: 42px;
  font-size: 1rem;
  padding: 0px 10px;
  cursor: pointer;
}
.newsBody .menu nav ul li:hover {
  background-color: #fff;
}
.newsBody .menu nav ul li:hover a {
  color: #000;
}
.newsBody .menu nav ul li a {
  color: #fff;
}
.newsBody .menu nav ul li:last-child {
  height: 100%;
  width: 42px;
}
.newsBody .menu nav ul li:last-child .lupa {
  width: 100%;
  height: 100%;
  background: url("/static/img/lupa1.png") no-repeat;
  background-position: 50%;
  background-size: 80%;
  background-color: #000;
}
.newsBody .menu nav ul li:last-child:hover .lupa {
  background: url("/static/img/lupa2.png") no-repeat;
  background-position: 50%;
  background-size: 80%;
  background-color: #fff;
}
.newsBody .buscar-cont {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: hidden;
}
.newsBody .buscar-cont .buscarInfo {
  width: 100%;
  border: 0;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0px 0px 10px #000 inset;
  color: #999;
  height: 100px;
}
.newsBody .principal {
  position: relative;
  width: 1024px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
  font-size: 0;
}
.newsBody .principal .portada {
  position: relative;
  top: -350px;
  width: 980px;
  height: 0;
  margin: 0 auto;
  margin: 0 auto;
}
.newsBody .principal .portada .recientes {
  position: relative;
  background: linear-gradient(to bottom, rgba(175,175,175,0.88) 0%, #000 100%);
  height: 416.8354px;
  width: 100%;
  font-size: 0rem;
}
.newsBody .principal .portada .recientes .comodin {
  display: none;
}
.newsBody .principal .portada .recientes article {
  cursor: pointer;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  display: inline-block;
  width: 33.33333333333333%;
  height: 166.5384px;
}
.newsBody .principal .portada .recientes article:first-child,
.newsBody .principal .portada .recientes article:nth-child(2) {
  width: 50%;
  height: 250px;
  overflow: hidden;
}
.newsBody .principal .portada .recientes article:first-child div,
.newsBody .principal .portada .recientes article:nth-child(2) div {
  height: 240px;
}
.newsBody .principal .portada .recientes article div {
  position: relative;
  margin: 5px;
  height: 156.8354px;
}
.newsBody .principal .portada .recientes article div img {
  width: 100%;
  height: 100%;
  position: relative;
}
.newsBody .principal .portada .recientes article div .text-cont {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 39px;
  bottom: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.4);
  transition: height 0.3s;
}
.newsBody .principal .portada .recientes article div .text-cont:hover {
  height: 100%;
}
.newsBody .principal .portada .recientes article div .text-cont h2 {
  position: relative;
  color: #fff;
  padding: 5px;
}
.newsBody .principal .portada .recientes article div .text-cont p {
  padding: 5px;
  color: #fff;
  position: relative;
  font-size: 1rem;
}
.newsBody .principal .portada .recientes .secciones {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: -100%;
  right: 0;
  transition: all 0.5s ease-out;
}
.newsBody .principal .portada .recientes .secciones div {
  height: 100%;
}
.newsBody .principal .portada .recientes .secciones div img {
  width: 100%;
  height: 100%;
}
.newsBody .principal .portada .recientes .secciones div h1 {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  font-size: 3.4rem;
  right: -20px;
  top: 40px;
  padding: 0px 10px;
}
.newsBody .principal .portada .recientes .secciones div .text-cont {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  bottom: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
.newsBody .principal .portada .recientes .secciones div .text-cont h2 {
  font-size: 2rem;
  padding: 0px 10px;
}
.newsBody .principal .portada .recientes .secciones div .text-cont p {
  font-size: 1rem;
  padding: 0px 10px;
}
.newsBody .principal .portada .recientes .section-active {
  top: 0;
}
.newsBody .principal .banner {
  width: 725px;
  height: 90px;
  background-color: #000;
  margin: 20px auto;
  margin-top: 80px;
}
.newsBody .principal .noticias {
  vertical-align: top;
  display: inline-block;
  width: 72%;
  font-size: 1rem;
}
.newsBody .principal .noticias .navegacion {
  padding-bottom: 20px;
  text-align: center;
}
.newsBody .principal .noticias .navegacion div {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  background-color: #ffa500;
  color: #fff;
  font-size: 1.3rem;
}
.newsBody .principal .noticias article {
  position: relative;
  font-size: 0;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}
.newsBody .principal .noticias article h2 {
  font-size: 1.4rem;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
}
.newsBody .principal .noticias article .date {
  font-size: 0.8rem;
  display: block;
  color: #b4b4b4;
}
.newsBody .principal .noticias article figure {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  width: 30%;
}
.newsBody .principal .noticias article figure img {
  width: 202px;
  padding: 5px;
}
.newsBody .principal .noticias article .content {
  margin-top: 5px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}
.newsBody .principal .noticias article .content p {
  word-wrap: break-word;
  padding-bottom: 50px;
  font-size: 1rem;
  text-align: justify;
}
.newsBody .principal .noticias article .boton {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 0px;
  display: inline-block;
  background-color: rgba(255,50,0,0.5);
  color: #fff;
  font-size: 1rem;
  padding: 10px 30px;
  transition: background 0.3s;
}
.newsBody .principal .noticias article .boton:hover {
  background-color: #ff3200;
}
.newsBody .principal .noticias article a {
  cursor: pointer;
  bottom: 15px;
  left: 30%;
  position: absolute;
  padding: 10px;
  background-color: rgba(180,180,180,0.8);
  color: #fff;
  font-size: 1rem;
  transition: background 0.3s;
}
.newsBody .principal .noticias article a:hover {
  background-color: #00f;
}
.newsBody .principal .aside-cont {
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
  width: 28%;
  font-size: 1rem;
}
.newsBody .principal .aside-cont aside {
  padding: 0px 20px 0px 10px;
}
.newsBody .principal .aside-cont aside .span-styl {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.newsBody .principal .aside-cont aside .share-cool {
  font-size: 0rem;
}
.newsBody .principal .aside-cont aside .share-cool span {
  font-size: 1.5rem;
  padding: 5px 0px;
  margin-bottom: 10px;
}
.newsBody .principal .aside-cont aside .share-cool a div {
  width: 125px;
  display: inline-block;
  height: 90.83px;
  transition: background 0.3s;
}
.newsBody .principal .aside-cont aside .share-cool .fb-boton {
  background: url("../img/Cool-web-FB.jpg") no-repeat;
  background-size: 100%;
  margin-right: 6px;
}
.newsBody .principal .aside-cont aside .share-cool .fb-boton:hover {
  background: url("../img/Cool-web.jpg") no-repeat;
  background-size: 100%;
}
.newsBody .principal .aside-cont aside .share-cool .tw-boton {
  background: url("../img/Cool-web-TW.jpg") no-repeat;
  background-size: 100%;
}
.newsBody .principal .aside-cont aside .share-cool .tw-boton:hover {
  background: url("../img/Cool-web-over-tw.jpg") no-repeat;
  background-size: 100%;
}
.newsBody .principal .aside-cont aside span {
  padding: 5px 0px;
  font-size: 1.2rem;
  margin: 10px 0px;
}
.newsBody .principal .aside-cont aside article {
  margin-bottom: 10px;
  cursor: pointer;
}
.newsBody .principal .aside-cont aside article h3 {
  border-bottom: 2px solid #000;
  font-size: 1.1rem;
}
.newsBody .principal .aside-cont aside article p {
  margin-top: 5px;
  text-align: justify;
  font-size: 1rem;
}
.newsBody .principal .aside-cont .cuadro {
  width: 200px;
  height: 200px;
  background-color: #000;
  float: right;
  margin-right: 10px;
}
.newsBody .principal .news-overflow {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.newsBody .principal .news-overflow .news-page {
  position: relative;
  top: 5%;
  width: 800px;
  margin: 0 auto;
  height: 90%;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
}
.newsBody .principal .news-overflow .news-page .news {
  position: relative;
  overflow: auto;
  font-size: 1rem;
  color: #000;
  height: 100%;
  width: 100%;
}
.newsBody .principal .news-overflow .news-page .news h2 {
  margin: 0 auto;
  width: 84%;
  padding-top: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ffa500;
}
.newsBody .principal .news-overflow .news-page .news figure {
  margin-left: 8%;
  float: left;
  width: 40%;
  padding-right: 10px;
}
.newsBody .principal .news-overflow .news-page .news figure img {
  width: 100%;
}
.newsBody .principal .news-overflow .news-page .news p {
  word-wrap: break-word;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 84%;
  text-align: justify;
}
.newsBody .principal .news-overflow .news-page ul {
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 0px 10px #000;
  background-color: #fff;
  position: absolute;
  width: 50px;
  top: 50px;
  left: -50px;
  z-index: -1;
}
.newsBody .principal .news-overflow .news-page ul li {
  cursor: pointer;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.newsBody .principal .news-overflow .news-page ul li:last-child {
  border-bottom: initial;
  padding-bottom: initial;
}
.newsBody .principal .news-overflow .news-page ul li a img {
  width: 100%;
}
.newsBody .principal .news-overflow .news-page .boton {
  border-radius: 50%;
  box-shadow: 0px 0px 5px #000;
  font-size: 0rem;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: -25px;
  background: url("/static/img/x.png") no-repeat;
  background-size: 140%;
  background-position: 50%;
  width: 35px;
  height: 35px;
}
.newsBody .principal .news-active {
  animation-name: newsIn;
  visibility: visible;
  opacity: 1;
}
.newsBody .footer-cont {
  position: relative;
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.newsBody .footer-cont footer {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
.newsBody .footer-cont footer span {
  font-size: 0.8rem;
}
.newsBody .footer-cont footer img {
  position: absolute;
  right: 0;
  top: -13px;
}
@media only screen and (max-width: 1025px) {
  .newsBody .header-cont {
    top: 70px;
    height: 70px;
    position: fixed;
    z-index: 100;
  }
  .newsBody .header-cont .newsHdr {
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  .newsBody .header-cont .newsHdr img {
    height: 100%;
    margin-left: 20px;
  }
  .newsBody .header-cont .newsHdr img:first-child {
    display: none;
  }
  .newsBody .header-cont .newsHdr img:last-child {
    display: initial;
  }
  .newsBody .header-cont .newsHdr .botonMenu {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 5px;
    right: 20px;
    position: absolute;
    z-index: 40;
    background: url("../img/menu.png") 50% no-repeat;
    background-size: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  .newsBody .header-cont .newsHdr a .menuCool {
    position: fixed;
    height: 70px;
    width: 100%;
    background-position: 50%;
    background-size: 50px;
    background-color: #fff;
    left: 0;
    border-radius: 0px;
    transform: initial;
    transform-origin: initial;
    animation: initial;
  }
  .newsBody .menu {
    overflow: hidden;
    z-index: 11;
    width: 100%;
    height: auto;
    position: fixed;
    top: -100%;
    background-color: rgba(255,255,255,0.95);
    transition: height 2s;
    transition: top 0.5s ease-in;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 10px #000;
  }
  .newsBody .menu nav {
    width: 100%;
    text-align: initial;
    font-size: 0;
  }
  .newsBody .menu nav ul {
    height: auto;
    position: relative;
    bottom: initial;
    display: block;
    text-align: center;
  }
  .newsBody .menu nav ul li {
    display: block;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    cursor: pointer;
  }
  .newsBody .menu nav ul li:last-child {
    border: 0;
  }
  .newsBody .menu nav ul li:hover {
    background-color: #808080;
  }
  .newsBody .menu nav ul li:hover a {
    color: #fff;
  }
  .newsBody .menu nav ul li a {
    color: #000;
  }
  .newsBody .menu nav ul li:last-child {
    height: 100%;
  }
  .newsBody .menu nav ul li:last-child .lupa {
    width: 100%;
  }
  .newsBody .menu nav ul li:last-child:hover .lupa {
    background: url("/static/img/lupa2.png") no-repeat;
    background-position: 50%;
    background-size: 80%;
    background-color: #fff;
  }
  .newsBody .menu-active {
    animation-name: menuDownT;
    top: 140px;
  }
  .newsBody .buscar-cont {
    margin-top: 140px;
    height: 0px;
  }
  .newsBody .buscar-cont .buscarInfo {
    font-size: 2rem;
    height: 100px;
  }
  .newsBody .principal {
    width: 100%;
    margin-top: initial;
    background-color: initial;
  }
  .newsBody .principal .portada {
    position: relative;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: auto;
  }
  .newsBody .principal .portada .recientes {
    background: linear-gradient(to bottom, rgba(175,175,175,0.88) 0%, #000 100%);
    height: auto;
  }
  .newsBody .principal .portada .recientes .comodin {
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .newsBody .principal .portada .recientes article {
    top: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    animation-duration: 32s;
    animation-iteration-count: infinite;
  }
  .newsBody .principal .portada .recientes article:first-child,
  .newsBody .principal .portada .recientes article:nth-child(2) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .newsBody .principal .portada .recientes article:first-child div,
  .newsBody .principal .portada .recientes article:nth-child(2) div {
    height: 100%;
  }
  .newsBody .principal .portada .recientes article:nth-child(1) {
    animation-name: slide1;
  }
  .newsBody .principal .portada .recientes article:nth-child(2) {
    animation-name: slide2;
  }
  .newsBody .principal .portada .recientes article:nth-child(3) {
    animation-name: slide3;
  }
  .newsBody .principal .portada .recientes article:nth-child(4) {
    animation-name: slide4;
  }
  .newsBody .principal .portada .recientes article:nth-child(5) {
    animation-name: slide5;
  }
  .newsBody .principal .portada .recientes article div {
    margin: 0px;
    height: 100%;
  }
  .newsBody .principal .portada .recientes article div img {
    height: auto;
  }
  .newsBody .principal .portada .recientes article div .text-cont {
    width: 100%;
    height: auto;
    background-color: initial;
    transition: height 0.3s;
  }
  .newsBody .principal .portada .recientes article div .text-cont:hover {
    height: auto;
  }
  .newsBody .principal .portada .recientes article div .text-cont h2 {
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
  }
  .newsBody .principal .portada .recientes article div .text-cont p {
    display: none;
  }
  .newsBody .principal .portada .recientes article div .text-cont span {
    display: none;
  }
  .newsBody .principal .portada .recientes .secciones div img {
    width: 100%;
  }
  .newsBody .principal .portada .recientes .secciones div h1 {
    font-size: 3.4rem;
    right: 0px;
  }
  .newsBody .principal .portada .recientes .secciones div .text-cont h2 {
    font-size: 2rem;
    padding: 0px 10px;
  }
  .newsBody .principal .portada .recientes .secciones div .text-cont p {
    display: none;
  }
  .newsBody .principal .banner {
    display: none;
  }
  .newsBody .principal .noticias {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    width: 95%;
    background-color: #fff;
  }
  .newsBody .principal .noticias .navegacion div {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    background-color: #ffa500;
    color: #fff;
    font-size: 1.3rem;
  }
  .newsBody .principal .noticias article {
    position: relative;
    font-size: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
  }
  .newsBody .principal .noticias article h2 {
    width: 98%;
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .newsBody .principal .noticias article figure {
    display: block;
    width: 100%;
  }
  .newsBody .principal .noticias article figure img {
    width: 100%;
    padding: 0px;
  }
  .newsBody .principal .noticias article .content {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 96%;
    padding-bottom: 50px;
  }
  .newsBody .principal .noticias article .boton {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: inline-block;
    background-color: rgba(255,50,0,0.5);
    color: #fff;
    font-size: 1rem;
    padding: 10px 30px;
    transition: background 0.3s;
  }
  .newsBody .principal .noticias article .boton:hover {
    background-color: #ff3200;
  }
  .newsBody .principal .noticias article a {
    cursor: pointer;
    bottom: 15px;
    left: 20px;
    position: absolute;
    padding: 10px;
    background-color: rgba(180,180,180,0.8);
    color: #fff;
    font-size: 1rem;
    transition: background 0.3s;
  }
  .newsBody .principal .noticias article a:hover {
    background-color: #00f;
  }
  .newsBody .principal .noticias article span {
    display: none;
  }
  .newsBody .principal .aside-cont {
    display: none;
  }
  .newsBody .principal .news-overflow {
    background-color: #fff;
    overflow: auto;
    display: block;
    visibility: auto;
    opacity: 1;
    height: 0;
    transition: height 0.5s;
  }
  .newsBody .principal .news-overflow .news-page {
    top: 0%;
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-bottom: 45px;
    text-align: center;
    box-shadow: initial;
  }
  .newsBody .principal .news-overflow .news-page .news {
    height: auto;
    overflow: initial;
  }
  .newsBody .principal .news-overflow .news-page .news h2 {
    width: initial;
    padding: 0px 5px;
    padding-top: 20px;
  }
  .newsBody .principal .news-overflow .news-page .news figure {
    float: initial;
    position: relative;
    margin: 0 auto;
    width: 40%;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .newsBody .principal .news-overflow .news-page .news figure img {
    width: 100%;
  }
  .newsBody .principal .news-overflow .news-page .news p {
    width: 94%;
  }
  .newsBody .principal .news-overflow .news-page ul {
    display: none;
  }
  .newsBody .principal .news-overflow .news-page .boton {
    font-size: 1rem;
    color: #fff;
    background: #ffa500;
    padding: 10px;
    position: relative;
    top: initial;
    right: initial;
    border-radius: 0px;
    box-shadow: initial;
  }
  .newsBody .principal .news-active {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
  .newsBody .footer-cont {
    color: #fff;
  }
  .newsBody .footer-cont footer {
    width: 100%;
  }
}
@media only screen and (max-width: 624px) {
  .newsBody .header-cont {
    height: 45px;
    top: 45px;
  }
  .newsBody .header-cont .newsHdr .botonMenu {
    width: 40px;
    height: 40px;
    top: 2px;
  }
  .newsBody .header-cont .newsHdr a .menuCool {
    height: 45px;
    background-size: 35px;
  }
  .newsBody .menu {
    animation-name: menuUpM;
  }
  .newsBody .menu-active {
    animation-name: menuDownM;
    top: 90px;
  }
  .newsBody .buscar-cont {
    margin-top: 90px;
    height: 0px;
  }
  .newsBody .buscar-cont .buscarInfo {
    font-size: 2rem;
    height: 100px;
  }
  .newsBody .principal .portada .recientes .secciones div img {
    width: 100%;
  }
  .newsBody .principal .portada .recientes .secciones div h1 {
    font-size: 1.5rem;
  }
  .newsBody .principal .portada .recientes .secciones div .text-cont h2 {
    font-size: 1.2rem;
    padding: 0px 10px;
  }
  .newsBody .principal .portada .recientes .secciones div .text-cont p {
    font-size: 1rem;
  }
  .newsBody .principal .noticias article h2 {
    font-size: 1rem;
  }
  .newsBody .principal .news-overflow .news-page {
    padding-top: 90px;
  }
  .newsBody .principal .news-overflow .news-page .news h2 {
    width: initial;
    padding: 0px 5px;
    padding-top: 20px;
  }
  .newsBody .principal .news-overflow .news-page .news figure {
    width: 60%;
  }
  .newsBody .principal .news-overflow .news-page .news figure img {
    width: 100%;
  }
  .newsBody .principal .news-overflow .news-page .news p {
    width: 94%;
  }
  .newsBody .principal .news-overflow .news-page ul {
    display: none;
  }
  .newsBody .footer-cont {
    padding: 30px 10px;
  }
  .newsBody .footer-cont footer span {
    display: block;
    text-align: left;
    font-size: 0.8rem;
  }
}
.hidden {
  overflow: hidden;
}
@-moz-keyframes slide1 {
  0% {
    left: 0%;
  }
  11.5% {
    left: 0%;
  }
  12.5% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes slide1 {
  0% {
    left: 0%;
  }
  11.5% {
    left: 0%;
  }
  12.5% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes slide1 {
  0% {
    left: 0%;
  }
  11.5% {
    left: 0%;
  }
  12.5% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide1 {
  0% {
    left: 0%;
  }
  11.5% {
    left: 0%;
  }
  12.5% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes slide2 {
  0% {
    left: 100%;
  }
  11.5% {
    left: 100%;
  }
  12.5% {
    left: 0%;
  }
  24% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  86.5% {
    left: -100%;
  }
  87.5% {
    left: 0%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide2 {
  0% {
    left: 100%;
  }
  11.5% {
    left: 100%;
  }
  12.5% {
    left: 0%;
  }
  24% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  86.5% {
    left: -100%;
  }
  87.5% {
    left: 0%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes slide2 {
  0% {
    left: 100%;
  }
  11.5% {
    left: 100%;
  }
  12.5% {
    left: 0%;
  }
  24% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  86.5% {
    left: -100%;
  }
  87.5% {
    left: 0%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slide2 {
  0% {
    left: 100%;
  }
  11.5% {
    left: 100%;
  }
  12.5% {
    left: 0%;
  }
  24% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  86.5% {
    left: -100%;
  }
  87.5% {
    left: 0%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes slide3 {
  0% {
    left: 100%;
  }
  24% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  36.5% {
    left: 0%;
  }
  37.5% {
    left: -100%;
  }
  74% {
    left: -100%;
  }
  75% {
    left: 0%;
  }
  86.5% {
    left: 0%;
  }
  87.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide3 {
  0% {
    left: 100%;
  }
  24% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  36.5% {
    left: 0%;
  }
  37.5% {
    left: -100%;
  }
  74% {
    left: -100%;
  }
  75% {
    left: 0%;
  }
  86.5% {
    left: 0%;
  }
  87.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes slide3 {
  0% {
    left: 100%;
  }
  24% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  36.5% {
    left: 0%;
  }
  37.5% {
    left: -100%;
  }
  74% {
    left: -100%;
  }
  75% {
    left: 0%;
  }
  86.5% {
    left: 0%;
  }
  87.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slide3 {
  0% {
    left: 100%;
  }
  24% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  36.5% {
    left: 0%;
  }
  37.5% {
    left: -100%;
  }
  74% {
    left: -100%;
  }
  75% {
    left: 0%;
  }
  86.5% {
    left: 0%;
  }
  87.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes slide4 {
  0% {
    left: 100%;
  }
  36.5% {
    left: 100%;
  }
  37.5% {
    left: 0%;
  }
  49% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  61.5% {
    left: -100%;
  }
  62.5% {
    left: 0%;
  }
  74% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide4 {
  0% {
    left: 100%;
  }
  36.5% {
    left: 100%;
  }
  37.5% {
    left: 0%;
  }
  49% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  61.5% {
    left: -100%;
  }
  62.5% {
    left: 0%;
  }
  74% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes slide4 {
  0% {
    left: 100%;
  }
  36.5% {
    left: 100%;
  }
  37.5% {
    left: 0%;
  }
  49% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  61.5% {
    left: -100%;
  }
  62.5% {
    left: 0%;
  }
  74% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slide4 {
  0% {
    left: 100%;
  }
  36.5% {
    left: 100%;
  }
  37.5% {
    left: 0%;
  }
  49% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  61.5% {
    left: -100%;
  }
  62.5% {
    left: 0%;
  }
  74% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes slide5 {
  0% {
    left: 100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  61.5% {
    left: 0%;
  }
  62.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide5 {
  0% {
    left: 100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  61.5% {
    left: 0%;
  }
  62.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes slide5 {
  0% {
    left: 100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  61.5% {
    left: 0%;
  }
  62.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slide5 {
  0% {
    left: 100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  61.5% {
    left: 0%;
  }
  62.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes newsIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes newsIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-o-keyframes newsIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes newsIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-moz-keyframes newsOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes newsOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-o-keyframes newsOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes newsOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-moz-keyframes menuDownT {
  0% {
    top: -100%;
  }
  100% {
    top: 140px;
  }
}
@-webkit-keyframes menuDownT {
  0% {
    top: -100%;
  }
  100% {
    top: 140px;
  }
}
@-o-keyframes menuDownT {
  0% {
    top: -100%;
  }
  100% {
    top: 140px;
  }
}
@keyframes menuDownT {
  0% {
    top: -100%;
  }
  100% {
    top: 140px;
  }
}
@-moz-keyframes menuUpT {
  0% {
    top: 140px;
  }
  100% {
    top: -100%;
  }
}
@-webkit-keyframes menuUpT {
  0% {
    top: 140px;
  }
  100% {
    top: -100%;
  }
}
@-o-keyframes menuUpT {
  0% {
    top: 140px;
  }
  100% {
    top: -100%;
  }
}
@keyframes menuUpT {
  0% {
    top: 140px;
  }
  100% {
    top: -100%;
  }
}
@-moz-keyframes menuDownM {
  0% {
    top: -100%;
  }
  100% {
    top: 90px;
  }
}
@-webkit-keyframes menuDownM {
  0% {
    top: -100%;
  }
  100% {
    top: 90px;
  }
}
@-o-keyframes menuDownM {
  0% {
    top: -100%;
  }
  100% {
    top: 90px;
  }
}
@keyframes menuDownM {
  0% {
    top: -100%;
  }
  100% {
    top: 90px;
  }
}
@-moz-keyframes menuUpM {
  0% {
    top: 90px;
  }
  100% {
    top: -100%;
  }
}
@-webkit-keyframes menuUpM {
  0% {
    top: 90px;
  }
  100% {
    top: -100%;
  }
}
@-o-keyframes menuUpM {
  0% {
    top: 90px;
  }
  100% {
    top: -100%;
  }
}
@keyframes menuUpM {
  0% {
    top: 90px;
  }
  100% {
    top: -100%;
  }
}
