<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta name="viewport" content="width=device-width" />-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

<title>COOL</title>
<link href="/static/css/reproductor.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="/static/js/jquery.js"></script>
    
</head>
<body>
	<div id="reproductor">
    	<img id="fondo" src="/static/img/cool-web.png"/>
        <img id="logo"src="/static/img/coollogo.png"/>
        
    	<div id="control">
    		<audio id="music" controls>
		      	<source src="http://s3.voscast.com:7762/;" type="audio/mpeg"/>
			    <source src="http://s3.voscast.com:7762/;" type="audio/ogg"/>
		    	Your browser does not support this audio format.
			</audio>	
    	</div>
    	<div id="alternativas">
            <div class='shortcuts'>
                <script type="text/javascript" src="http://cdn.voscast.com/resources/?key=3cc1bfa4b1aad363f45f593988c33c53&amp;c=playlist"></script>
            </div>     	
    	</div>
    </div>
    
</body>
</html>

        