audio{
	position:absolute;
	z-index:10;
	right:0px;	
	bottom:30px;
}

#escuchanos{
	display:none;
}

a {
    text-decoration: none;
}
a, a:hover, a:visited {
    color: black;
    font-weight:bold;
}
a:active {
    color:yellow;
}
nav {
	padding:20px;
    position:fixed;
    width:600px;
    top:0%;
    right:2%;
    z-index:10;
	text-align:center;
	
	border-radius: 0px 0px 40px 40px;
	-webkit-border-radius:0px 0px 40px 40px;
	-moz-border-radius:0px 0px 40px 40px;
	-o-border-radius:0px 0px 40px 40px;
	
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
	-o-box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
	
	background-color: rgba(255,255,255,0.94);
}
nav ul li {
    margin: 0 4%;
}
figure#logo {
    position:fixed;
    z-index: 10;
    margin:0 0 0 5%;
    width:20%;
}
figure#logo img#cool-logo, figure#logo img#cool-logo-bg {
    position:absolute;
}
figure#logo img#cool-logo {
    width: 90%;
    margin: 0 0 0 -35%;
    left: 50%;
}
figure#logo img#cool-logo-bg {
    width:120%;
}
section.main-container {
    float:left;
    position:absolute;
    -webkit-transition: left 1s ease-out;
    -moz-transition: left 1s ease-out;
    -o-transition: left 1s ease-out;
    transition: left 1s ease-out;
}
section#intro {
    z-index: 1;
}
/*section#intro nav#nav {
    position: fixed;
    float: left;
    background-color : red;
    z-index:1;
}
section#intro nav#in-nav {
    position:absolute;
    right:0;
    top:200%;
    background-color:green;
    z-index: 2;
    margin:-69px 0 0 0;
}*/
 section#intro div.nous-sommes {
    position:absolute;
    background-color:white;
    width:40%;
    height:36px;
    top:40%;
    text-align:right;
}
section#intro div.nous-sommes:after {
    content:'';
    position:absolute;
    top:0%;
    border-top:36px solid white;
    border-right:30px solid transparent;
    height:25px;
}
section#intro div.nous-sommes span {
    /*position:relative;*/
    font-size:2.5em;
    font-weight: bold;
    color:#e54c23;
    margin:0 6px 0 0;
    cursor:default;
}
section#intro p.famille, section#intro p.novelle, section#intro p.musique {
    margin:0 0 0 8%;
    position:absolute;
    bottom:19%;
    font-size:9em;
    font-weight: bold;
    color:white;
    left:-1000px;
    cursor:default;
}
section#intro p.famille {
    animation: famille 8s infinite;
    -moz-animation: famille 8s infinite;
    -webkit-animation: famille 8s infinite;
    -ms-animation: famille 8s infinite;
}
section#intro p.novelle {
    animation: novelle 8s infinite;
    -moz-animation: novelle 8s infinite;
    -webkit-animation: novelle 8s infinite;
    -ms-animation: novelle 8s infinite;
}
section#intro p.musique {
    animation: musique 8s infinite;
    -moz-animation: musique 8s infinite;
    -webkit-animation: musique 8s infinite;
    -ms-animation: musique 8s infinite;
}
section#intro figure#play-img {
    position:absolute;
    top:15%;
    left:45%;
    width:50%;
    z-index:2;
}
section#intro figure#play-img img {
    position:absolute;
    width:100%;
    transition:margin-left 1s ease-out;
    -webkit-transition:margin-left 1s ease-out;
    -moz-transition:margin-left 1s ease-out;
    -o-transition:margin-left 1s ease-out;
}
section#intro figure#play-img img#circle-1 {
    z-index:2;
}
section#intro figure#play-img img#circle-2 {
    z-index:3;
}
section#intro figure#play-img img#circle-3 {
    z-index:4;
}
section#intro figure#play-img img#circle4 {
    z-index:5;	
	width:50%;
	left:33%;
	bottom:-35vw;
}
section#intro figure#play-img img#play {
    z-index:5;
	width:25%;
	left:48%;
	bottom:-30vw;
}
section#intro div.gradient-a, section#intro div.gradient-b {
    position:relative;
    width:100%;
}
section#intro div.gradient-a {
    height:75%;
    background: -webkit-linear-gradient(#c00 0%, #c00 70%, #900 100%);
    background: -moz-linear-gradient(#c00 0%, #c00 70%, #900 100%);
    background: -o-linear-gradient(#c00 0%, #c00 70%, #900 100%);
    background: linear-gradient(#c00 0%, #c00 70%, #900 100%);
}
section#intro div.gradient-b {
    height:25%;
    background: -webkit-linear-gradient(9deg, #c00 0%, #c00 45%, #400 90%);
    background: -moz-linear-gradient(9deg, #c00 0%, #c00 45%, #400 90%);
    background: -o-linear-gradient(9deg, #c00 0%, #c00 45%, #400 90%);
    background: linear-gradient(9deg, #c00 0%, #c00 45%, #400 90%);
}
section#program {
    z-index:2;
}
section#program div.gradient-a, section#program div.gradient-b {
    position:relative;
    width:100%;
}
section#program div.gradient-a {
    height:75%;
    background: -webkit-linear-gradient(#1a1d5e 0%, #1a1d5e 10%, #1d3ee0 100%);
    background: -moz-linear-gradient(#1a1d5e 0%, #1a1d5e 10%, #1d3ee0 100%);
    background: -o-linear-gradient(#1a1d5e 0%, #1a1d5e 10%, #1d3ee0 100%);
    background: linear-gradient(#1a1d5e 0%, #1a1d5e 10%, #1d3ee0 100%);
}
section#program div.gradient-b {
    height:25%;
    background: -webkit-linear-gradient(-6deg, #1d3ee0 0%, #1d3ee0 45%, #1a1d5e 90%);
    background: -moz-linear-gradient(-6deg, #1d3ee0 0%, #1d3ee0 45%, #1a1d5e 90%);
    background: -o-linear-gradient(-6deg, #1d3ee0 0%, #1d3ee0 45%, #1a1d5e 90%);
    background: linear-gradient(-6deg, #1d3ee0 0%, #1d3ee0 45%, #1a1d5e 90%);
}
 #deco-1, #deco-2 {
	position:absolute;
}

#deco-1 {
	top: 40%;
	width: 50%;
	height: 10%;
	
	background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(178,3,3,1) 68%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(68%,rgba(178,3,3,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#b20303',GradientType=0 ); /* IE6-9 */

}

#deco-1:after{
	content:'';
	position:absolute;
	bottom: -40%;
	width: 98%;
	height: 100%;
	
	background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(178,3,3,1) 68%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(68%,rgba(178,3,3,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(178,3,3,1) 68%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#b20303',GradientType=0 ); /* IE6-9 */
	
}

#deco-2 {
	width: 38%;
	height: 8%;
    top:82%;
    right:0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d3818), color-stop(0.2, #1D3818), to(#468b3b));
    background: -webkit-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: -moz-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: -o-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
}

#deco-2:after {
	content:'';
	position:absolute;
	width: 70%;
	height: 60%;
    top:80%;
    right:0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d3818), color-stop(0.2, #1D3818), to(#468b3b));
    background: -webkit-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: -moz-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: -o-linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
    background: linear-gradient(#1d3818 0%, #1D3818 20%, #468b3b 100%);
}
section#program figure#playing-now {
    position:absolute;
    background: -webkit-linear-gradient(15deg, #eee 0%, #fff 40%);
    background: -moz-linear-gradient(15deg, #eee 0%, #fff 40%);
    background: -o-linear-gradient(15deg, #eee 0%, #fff 40%);
    background: linear-gradient(15deg, #eee 0%, #fff 40%);
    width:40%;
    height:40%;
    margin:0;
    left:4%;
    top:25%;
}
section#program figure#playing-now div:first-child {
    margin:1%;
    width:98%;
    height:96.5%;
    background:url(../img/05.jpg) 0% 0% no-repeat;
	background-size:100% 100%;
}
section#program figure#playing-now p {
    color:white;
    font-family: Montserrat, arial;
    margin: 2% 0 0 0;
}
section#program figure#playing-now p:first-child {
    font-size:40px;
}
section#program figure#playing-now img#play {
    position:absolute;
    /*background-color:pink;*/
    width: 20%;
    top:36%;
    left:118%;
}
section#program aside#current-schedule {
    position:absolute;
    width:30%;
    height:60%;
    top: 18%;
    right:10%;
}
section#program aside#current-schedule div.schedule {
    width:98%;
    height:17.5%;
    margin:2.5% 1%;
    box-shadow: 0 0 30px black;
    -webkit-box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    -o-box-shadow: 0 0 30px black;
    background-color:white;
    color : black;
}
section#program aside#current-schedule div.schedule:before {
    content:'';
	width:2%;
    height:17.5%;
	left:20%;
	position:absolute;	
	z-index:20;
    box-shadow: -2px 0 10px black;
    -webkit-box-shadow: -2px 0 10px black;
    -moz-box-shadow: -2px 0 10px black;
    -o-box-shadow: -2px 0 10px black;
    background-color:white;
    color : black;
}
section#program aside#current-schedule div.schedule span.hour {
    position:absolute;
    width:40%;
    height:17%;
    /*background-color:red;*/
    box-shadow: 10px 0px 5px -7px #aaaaaa;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    overflow: hidden;
}
section#program aside#current-schedule div.schedule span.program-name {
    position:absolute;
    width:58%;
    height:17%;
    /*background-color:gold;*/
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    right:1%;
    overflow: hidden;
}
section#program div#share-section {
    position:absolute;
    top:85%;
    left:4%;
    height:8%;
    width:40%;
    /*background-color:yellow;*/
}
section#program div#share-section div#facebook-share, section#program div#share-section div#twitter-share {
    /*border-radius:2%;*/
    height:100%;
    width:45%;
}
section#program div#share-section div#facebook-share {
    background-color:blue;
    float:left;
}
.fb-share-button{
	display:none;
}
section#program div#share-section div#twitter-share {
    background-color:cyan;
    float:right;
}
section#program div#share-section img {
	
    height:80%;
    margin: 2% 0 0 2%;
}
section#program div#share-section div#twitter-share img {
    margin: 2% 0 0 3%;
}
section#broadcasters {
    z-index: 3;
}
section#broadcasters div.gradient-a, section#broadcasters div.gradient-b {
    position:relative;
    width:100%;
}
section#broadcasters div.gradient-a {
    height:75%;
    background: -webkit-linear-gradient(#0d3c06 0%, #0d3c06 10%, #1f8f0f 100%);
    background: -moz-linear-gradient(#0d3c06 0%, #0d3c06 10%, #1f8f0f 100%);
    background: -o-linear-gradient(#0d3c06 0%, #0d3c06 10%, #1f8f0f 100%);
    background: linear-gradient(#0d3c06 0%, #0d3c06 10%, #1f8f0f 100%);
}
section#broadcasters div.gradient-b {
    height:25%;
    background: -webkit-linear-gradient(-6deg, #1f8f0f 0%, #1f8f0f 45%, #0d3c06 90%);
    background: -moz-linear-gradient(-6deg, #1f8f0f 0%, #1f8f0f 45%, #0d3c06 90%);
    background: -o-linear-gradient(-6deg, #1f8f0f 0%, #1f8f0f 45%, #0d3c06 90%);
    background: linear-gradient(-6deg, #1f8f0f 0%, #1f8f0f 45%, #0d3c06 90%);
}
section#broadcasters div.left-scroll, section#broadcasters div.right-scroll {
    position:absolute;
    width:8%;
    height:15%;
    top:35%;
    opacity:0.5;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    transition:background 0.2s ease-out;
    -webkit-transition:background 0.2s ease-out;
    -moz-transition:background 0.2s ease-out;
    -o-transition:background 0.2s ease-out;
    z-index:2;
}
section#broadcasters div.left-scroll:before, section#broadcasters div.right-scroll:before {
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform-origin:15%;
    -webkit-transform-origin:15%;
    -moz-transform-origin:15%;
    -o-transform-origin:15%;
}
section#broadcasters div.left-scroll:after, section#broadcasters div.right-scroll:after, section#broadcasters div.left-scroll:before, section#broadcasters div.right-scroll:before {
    content:'';
    width:50%;
    height:15%;
    top:40%;
    left:25%;
    position:absolute;
    background-color:white;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
}
section#broadcasters div.left-scroll:after, section#broadcasters div.right-scroll:after {
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform-origin:15%;
    -webkit-transform-origin:15%;
    -moz-transform-origin:15%;
    -o-transform-origin:15%;
}
section#broadcasters div.left-scroll:hover, section#broadcasters div.right-scroll:hover {
    background:black;
}
section#broadcasters div.left-scroll {
    left:1%;
}
section#broadcasters div.right-scroll {
    right:1%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
section#broadcasters div#broadcaster-show {
    position:absolute;
    /*overflow-x: auto;*/
    overflow:hidden;
    /*background:silver;*/
    width:100%;
    height:50%;
    top:20%;
}
section#broadcasters div#broadcaster-show ul {
    list-style-type:none;
}
section#broadcasters div#broadcaster-show div#hide-casters {
}
section#broadcasters div#broadcaster-show div#hide-casters ul li {
}
section#broadcasters div#broadcaster-show div#hide-casters ul li div.cover-narrator {
    content:'';
    position:absolute;
    top:10%;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
	
    background:#ececec;
    box-shadow: 10px 10px 10px black;
    -webkit-box-shadow: 10px 10px 10px black;
    -moz-box-shadow: 10px 10px 10px black;
    -o-box-shadow: 10px 10px 10px black;
}
section#broadcasters div#broadcaster-show div#hide-casters ul li div.narrator {
    /*margin:20% 0 0 0;*/
    margin: auto;
	margin-top:0.5vw;
    /*top:10%;*/
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    box-shadow: inset 6px 6px 10px black;
    -webkit-box-shadow: inset 6px 6px 10px black;
    -moz-box-shadow: inset 6px 6px 10px black;
    -o-box-shadow: inset 6px 6px 10px black;
	
    background: url(../img/06.jpg);
	background-size:100%;
}
section#broadcasters p#broadcaster-info {
    position:absolute;
	color:white;
    left:5%;
    top:65%;
}
section#broadcasters p#broadcaster-info span:first-child {
    font-size:5em;
}
section#broadcasters p#broadcaster-info span{
    font-size:2em;
}

section#contact {
    z-index:4;
}
section#contact div.gradient-a, section#contact div.gradient-b {
    position:relative;
    width:100%;
}
section#contact div.gradient-a {
    height:75%;
    background: -webkit-linear-gradient(#6c6c6c 0%, #6c6c6c 10%, #d7d7d7 100%);
    background: -moz-linear-gradient(#6c6c6c 0%, #6c6c6c 10%, #d7d7d7 100%);
    background: -o-linear-gradient(#6c6c6c 0%, #6c6c6c 10%, #d7d7d7 100%);
    background: linear-gradient(#6c6c6c 0%, #6c6c6c 10%, #d7d7d7 100%);
}
section#contact div.gradient-b {
    height:25%;
    background: -webkit-linear-gradient(-6deg, #d7d7d7 0%, #d7d7d7 45%, #6c6c6c 90%);
    background: -moz-linear-gradient(-6deg, #d7d7d7 0%, #d7d7d7 45%, #6c6c6c 90%);
    background: -o-linear-gradient(-6deg, #d7d7d7 0%, #d7d7d7 45%, #6c6c6c 90%);
    background: linear-gradient(-6deg, #d7d7d7 0%, #d7d7d7 45%, #6c6c6c 90%);
}
section#contact figure#map {
    position:absolute;
    margin:0;
    background: -webkit-linear-gradient(15deg, #222 0%, #000 40%);
    background: -moz-linear-gradient(15deg, #222 0%, #000 40%);
    background: -o-linear-gradient(15deg, #222 0%, #000 40%);
    background: linear-gradient(15deg, #222 0%, #000 40%);
    /*padding:0.4%;*/
    width:40%;
    height:51%;
    left:4%;
    top:30%;
}
section#contact figure#map img {
    width:98%;
    margin:1%;
}
section#contact form {
    position:absolute;
    /*background:red;*/
    width:25%;
    height:30%;
    left:60%;
    top:25%;
}
section#contact form p {
    margin:0;
    padding: 1%;
    font-size:3em;
}
section#contact form input:not([type=submit]), section#contact form textarea {
    width:95%;
    margin:4% 1%;
    border:1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
section#contact form input:not([type=submit]) {
    padding:1.5%;
    height:12%;
}
section#contact form input[type=submit] {
    width: 40%;
    height: 15%;
    margin:1%;
    background-color:black;
    color:white;
    border:1px solid #222;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    float:right;
}
section#contact form textarea {
    padding:1.5%;
    height: 45%;
    resize:none;
}
section#contact div#deco-3 {
    position:absolute;
    width:40%;
    height:8%;
    top:80%;
    right:0;
    background:red;
}

 section#contact div#deco-3 div {
    position:absolute;
    width:90%;
    height:70%;
    top:50%;
    right:0;
    background:red;
}
section#contact div#deco-3 span {
    position:absolute;
    left:4%;
    top:40%;
}

#news{
	position:absolute;
	bottom:0px;
	z-index:20;
	width:100%;
	height:30px;	
	background-color:rgba(0,0,0,1);
	
	transition: height 1s;	
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	
	box-shadow:0px 0px 10px black;
	-webkit-box-shadow:0px 0px 10px black;
	-moz-box-shadow:0px 0px 10px black;
	-o-box-shadow:0px 0px 10px black;
	-ms-box-shadow:0px 0px 10px black;
}

#botonNews{
	position:absolute;
	bottom:0vw;
	right:42.5%;
	z-index:20;
	width:13%;
	height:6.5vw;
	
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(14,14,14,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(61%,rgba(14,14,14,1))); /* 		Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(14,14,14,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(14,14,14,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(14,14,14,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(100,100,100,1) 0%,rgba(14,14,14,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	border-radius:6.5vw 6.5vw 0vw 0vw;
	-webkit-border-radius:6.5vw 6.5vw 0vw 0vw;
	-moz-border-radius:6.5vw 6.5vw 0vw 0vw;
	-o-border-radius:6.5vw 6.5vw 0vw 0vw;
	-ms-border-radius:6.5vw 6.5vw 0vw 0vw;
	
	transition: height 1s;	
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	cursor:pointer;
	
	box-shadow:0px 0px 10px black;
	-webkit-box-shadow:0px 0px 10px black;
	-moz-box-shadow:0px 0px 10px black;
	-o-box-shadow:0px 0px 10px black;
	-ms-box-shadow:0px 0px 10px black;
}

#botonNews p{
	
	color:white;
	position:absolute;
	bottom:2vw;
	left:1.6vw;
	font-size:1.8vw;
	text-align:center;
	width:10vw;
	
	
}

#noticias{
	position:absolute;	
	z-index:21;
	bottom:0px;
	left:0px;
	width: 100%;
	height: 0px;
	
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}


/*#news{
	position:absolute;
	bottom:0px;
	z-index:20;
	width:100vw;
	height:15px;	
	background-color:rgba(0,0,0,0.3);
	transition: height 1s;	
	
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	cursor:pointer;
}

#noticias{
	position:absolute;
	bottom:0vh;
	width: 100vw;
	height: 0vh;
	transition: height 1s;
}*/