<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>COOL</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link href="/static/css/home.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49422453-1', 'radiocoolhaiti.com');
        ga('send', 'pageview');

</script>

</head>

<body>
    <nav>
        <ul>
            <li  class='inline-pos'>
                <a id="hogar" href='#' class='nav' data-page='a'>Entrée</a>
            </li>
            <li class='inline-pos'>
                <a href='#' class='nav' data-page='b'>Programmation</a>
            </li>
            <li class='inline-pos'>
                <a href='#' class='nav' data-page='c'>Animateurs</a>
            </li>
            <li class='inline-pos'>
                <a href='#' class='nav' data-page='d'>Contact</a>
            </li>
        </ul>
    </nav>
    <figure id='logo'>
    	<div id="botonHdr"></div>
        <img id='cool-logo-bg' src='/static/img/cool-web.png' alt='cool web'/>
        <!-- <a href='#a'> -->
        <img id='cool-logo' src='/static/img/cool-logo-2.png' alt='cool 103.9 fm'/>
        </a>
    </figure>
    <section id='intro' class='main-container'>
        <div class='gradient-a'></div>
        <div class='gradient-b'></div>
        
        <figure id='play-img'>
            <img id='circle1' src='/static/img/cool-circ-parall-1.png' alt='circle 1'/>
            <img id='circle2' src='/static/img/cool-circ-parall-2.png' alt='circle 2'/>
            <img id='circle3' src='/static/img/cool-circ-parall-3.png' alt='circle 3'/>
            <img id='circle4' src='/static/img/cool-circ-parall-4.png' alt='circle 4'/>
            <img id='play' src='/static/img/cool-play-parall-1.png' alt='play'>
            <div id="play1"></div>
            <div id="listen">Écouter la radio</div>
        </figure>
        
        <div id="escuchanos">
        	<h1>Ecoutez-nous!<h1>
           	<div>
            	<img src="/static/img/apple.png" />
            	<img src="/static/img/andro.png" />
            	<img src="/static/img/bb.png" />
            </div>
        </div>
        
        <div class='nous-sommes'>
            <span>
                Nous sommes
            </span>
        </div>
        <p class='famille'>
            Famille
        </p>
        <p class='novelle'>
            Informations 
        </p>
        <p class='musique'>
            Musiques
        </p>
    </section>
    <section id='program' class='main-container'>
        <div class='gradient-a'></div>
        <div class='gradient-b'></div>
        <div id='deco-1' class='deco-right'>
            <div class='deco-right'>
            </div>
        </div>
        <div id='deco-2' class='deco-left'>
            <div class='deco-left'>
            </div>
        </div>
        <figure id='playing-now'>
            <div id='is-playing-portrait'>
            </div>
            <figcaption>
                <p id='is-playing'>
                    Programme de sondage
                </p>
                <p id='is-playing-detail'>
                    avec la musique que vous aimez, ici dans «cool», plus le meilleur, mais en français
                </p>
            </figcaption>
            <img id='play' src='/static/img/cool-web-play.png' alt='play'>
        </figure>
        <aside id='current-schedule'>
            <div id='current-schedule-past' class='schedule'>
                <span class='hour'>
                </span>
                <span class='program-name'>
                </span>
            </div>
            <div id='current-schedule-before' class='schedule'>
                <span class='hour'>
                </span>
                <span class='program-name'>
                </span>
            </div>
            <div id='current-schedule-now' class='schedule'>
                <span class='hour'>
                </span>
                <span class='program-name'>
                </span>
            </div>
            <div id='current-schedule-after-1' class='schedule'>
                <span class='hour'>
                </span>
                <span class='program-name'>
                </span>
            </div>
            <div id='current-schedule-after-2' class='schedule'>
                <span class='hour'>
                </span>
                <span class='program-name'>
                </span>
            </div>
        </aside>
        <div id='share-section'>
            <div id='facebook-share' class='inline-pos'>
                <img src='/static/img/vb-fb.png' alt='share on facebook'><span>Partager sur Facebook</span>
            </div>
            <div id='twitter-share' class='inline-pos'>
                <img src='/static/img/vb-twitter.png' alt='share on twitter'><span>Partager sur Twitter</span>
            </div>
        </div>
    </section>
    <section id='broadcasters' class='main-container'>
        <div class='gradient-a'></div>
        <div class='gradient-b'></div>
        <div id='left-scroll' class='left-scroll'></div>
        <!-- <div id='left-scroll-arrow'></div> -->
        <div id='right-scroll' class='right-scroll'></div>
        <!-- <div id='right-scroll-arrow'></div> -->
        <div id='broadcaster-show'>
            <div id='hide-casters'>
                <ul>
                   
                </ul>
            </div>
        </div>
        <p id='broadcaster-info'>
            <span id='narrator-name' class='block-pos'>
                
            </span>
            <span id='narrator-info' class='block-pos'>
               
            </span>
        </p>
    </section>
    <section id='contact' class='main-container'>
        <div class='gradient-a'></div>
        <div class='gradient-b'></div>
        <figure id='map'>
            <object data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.472459135456!2d-72.63361199999997!3d18.50753999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDMwJzI3LjEiTiA3MsKwMzgnMDEuMCJX!5e0!3m2!1ses!2sdo!4v1394322862996" width="400" height="300" frameborder="0" style="border:0"></object>
            <figcaption>
                <p>
                    135, Rue des Ramparts
                    <br>Léogâne, Haiti
                    <br>Téléphones:
                    <span id='tel'>
                        (509) 2813 9264 / (509) 3622 4954
                    </span>
                </p>
            </figcaption>
        </figure>
        <form id='contact-form' method='POST'>
            {%csrf_token%}
            <p>
                Contacter
            </p>
            <input name='name' class='block-pos' type='text' placeholder='nom' required>
            <input name='mail' class='block-pos' type='text' placeholder='email' required>
            <textarea name='message' class='block-pos' maxlength='500' placeholder='message' required></textarea>
            <input type='submit' value='Envoyer'>
        </form>
        <div id='deco-3' class='deco-right-inverted'>
            <span>
            </span>
        </div>
    </section>
    <section id="news">
    	<div id="botonNews"><p>Nouvelles</p></div>
    	<object id="noticias" type="text/html" data="/novelles/landpage"></object>
    </section>
    <script type="text/javascript" src="/static/js/cool.js"></script>
    <script type="text/javascript" src="/static/js/cool2.js"></script>
</body>
</html>
