<!DOCTYPE html>
<html ng-app="nouvelles">

<head>
    <base href="/nouvelles">
    <meta charset="utf-8">

    <!--<meta name="viewport" content="width=device-width" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link href="/static/css/nouvelles.css" rel="stylesheet" type="text/css">

    <title>COOL</title>
</head>

<body ng-controller="MainController" ng-class="{hidden : newshow}">
    
    <div class="header-cont">  
        <header>
            <a><div class="menuCool"></div></a>
            <div class="botonMenu" ng-click="showMenu()"></div> 
            <a href="javascript:void(0);" ng-click="hideSection();">
                <img src="/static/img/novelles.png"/><img src="/static/img/novelles2.png"/>
            </a>            
        </header> 
    </div>
    <div class="menu" ng-class="{'menu-active' : menushow}">
        <nav>
            <ul>                                   
                <li ng-repeat="tab in item track by $id(tab)" ng-click="showSection(tab);"><a href="JavaScript:void(0);">{% verbatim %}{{tab.section}}{%endverbatim%}</a></li>

                <li class="buscar">
                    <div class="lupa"></div>
                </li>               
            </ul>
        </nav>        
    </div>
    <div class="buscar-cont">
        <input class="buscarInfo" name="search" type="text" placeholder="Recherche">   
    </div>    
    <div ng-view>
    </div>
    <div class="footer-cont">
        <footer><span>(R)Droits Réservés Cool Fm</span></footer>
    </div>    
    
    <script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controllers.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>

</body>

</html>